[database]
connection = mysql+pymysql://nova:{{ nova_password }}@coreycbryant.com:{{ mysql_port }}/nova

[api_database]
connection = mysql+pymysql://nova:{{ nova_password }}@coreycbryant.com:{{ mysql_port }}/nova_api
